<!DOCTYPE html>
<html>
    <head>
        <title>Dragon's Den</title>
    </head>
    <body>
        <div>
            <a href = "/">
                <button>Home</button>
            </a>
        </div>
        <div>
            <form style = "display: flex; float: right;" action="/search" method="POST">
                <input type = "text" id = "search_bar" name = "searchQuery" placeholder = "Search">
                <button id = "search_button", type = "submit">Search</button>
            </form>
          </div>
        <ul>
            <% for (let count = 0; count < resultList.length; count++) { %> 
                <li><%= resultList[count].title %></li>
                <a href="/content_view?content_id=<%=resultList[count].content_id %>">
                    <button id = "content_link">View Page</button>
                </a>
            <% } %>
        </ul>
    </body>
</html>