<!DOCTYPE html>
<html>
    <head>
        <title>Dragon's Den</title>
    </head>
    <body>
        <ul>
            <% for (let count = 0; count < resultList.length; count++) { %> 
                <li><%= resultList[count] %></li>
            <% } %>
        </ul>
    </body>
</html>