<!DOCTYPE html>
<html>
    <head>
        Dragon's Den
    </head>
    <body>
        <ul>
            <% for (let count = 0; count < watchHistory.length; count++) { %> 
                <li><%= watchHistory[count] %></li>
                <a href="/content_view?content_id=<%=watchHistory[count] %>">
                    <button id = "content_link">View Page</button>
                </a>
            <% } %>
        </ul>
    </body>
</html>